@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@media (max-width: 480px){
    #header{
        padding: 30px;
    }
    .header-wrap {
        align-items: center;
    }

    #icons {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        border-top: 1px solid ghostwhite;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        
      }

    .contact-container{
        margin-top: 0px;
        padding: 0px 20px;
    }

    .social-icon {
        height: 55px;
        width: 55px;
    }

}


@media (max-width: 780px){
    #header{
        padding: 30px;
    }
    .header-wrap {
        align-items: center;
    }

    #icons {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        border-top: 1px solid ghostwhite;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        
      }

    .contact-container{
        margin-top: 0px;
        padding: 0px 20px;
    }

    .social-icon {
        height: 55px;
        width: 55px;
    }

}
